<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">

	<title>Hush Your Money by Shuffle.cash</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

	<!-- Canonical SEO -->
    <link rel="canonical" href="https://shuffle.cash" />
    <meta name="description" content="Spend Your Cash Privately. Fearlessly!">

    <!-- Open graph -->
    <meta property="og:url" content="https://shuffle.cash" />
    <meta property="og:title" content="Hush Your Money by Shuffle.cash">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Spend Your Cash Privately. Fearlessly!">
    <meta property="og:image" content="https://shuffle.cash/poster.jpg?1580211230">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Hush Your Money by Shuffle.cash">
    <meta name="twitter:description" content="Spend Your Cash Privately. Fearlessly!">
    <meta name="twitter:image" content="https://shuffle.cash/poster.jpg?1580211230">

	<!-- CSS Files -->
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet" />
	<link href="./assets/css/paper-bootstrap-wizard.css" rel="stylesheet" />

	<!-- Fonts and Icons -->
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
	<link href="./assets/css/themify-icons.css" rel="stylesheet">
</head>

<body>

<noscript>
    <strong>We're sorry but Shuffle Cash doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>

<div id="app"></div>
<!-- built files will be auto injected -->

<!--   Core JS Files   -->
<script src="./assets/js/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="./assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="./assets/js/jquery.bootstrap.wizard.js" type="text/javascript"></script>

</body>
</html>
